{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link href="{% static 'products/universal.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            
                <div class="row" id="top-row">
                    <div class="col">
                            <a href="{% url 'home-page' %}">
                            <img class="img-fluid" src="{% static 'products/titos-taco-shop-blue.webp' %}"/>
                            </a>
                    </div>
                    <div class="col m-none">
                        
                    </div>
                    <div class="col">
                        {% if user.is_authenticated %}
                        <dvi class="row marg-t-40 m-col-float-right">
                            <div class="col" id="balance-amount">
                                <p>Balance: <span class="text-nowrap">{{ taco_balance }} <img class="small-taco" src="{% static 'products/taco.png' %}" alt="taco picture"></span></p>
                            </div>
                            <div class="col vert-horiz-center">
                                <a href="{% url 'cas_ng_logout' %}">Logout</a>
                            </div>
                        </dvi>
                        {% else %}
                        <div class="row marg-t-40 m-col-float-right">
                            <div class="col" id="balance-amount">
                                <p>Login to view your balance</p>
                            </div>
                            <div class="col vert-horiz-center">
                                <a href="{% url 'cas_ng_login' %}">Login</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                    {% block content %}
                    {% endblock %}
                    {% block product %}
                    {% endblock %}
                

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </body>
</html>
