{% extends 'products/base.html' %}
{% load static %}
{% block product %}
<div class="row border-top">
    <div class="col-12 col-md-6 center mt-3">
        <img class="img-fluid prod-single" src="{{ product.image.url }}" alt="gift card pic">
    </div>
    <div class="col-12 col-md-6 mt-3">
        <div class="row">
            <div class="col col-md-7">
                <h2 class="fs-45">{{ product.name }}</h2>
            </div>
            <div class="col col-md-5">
                <div class="row">
                    <div class="col vert-horiz-center">
                        <span class="fs-40">{{ product.price }}</span>
                        <img class="img-fluid" src="{% static 'products/taco.png' %}" alt="taco picture">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Description</h2>
                <p class="prod-description">{{ product.description }}</p>
                <p>In Stock: {{ total_stock }}</p>
                <form id="size" action="{% url 'checkout-page' product.id %}">
                    {{ form }}
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
    </div>
    <div class="col-12 col-md-6">
        <div class="row">
            <div class="d-grid gap-2 col-md-6">
                {% if user.is_authenticated %}
                <input form="size" type="submit" {% if display_spend_warning %} disabled {% endif %}  {% if total_stock == 0 %} disabled {% endif %} class="btn btn-dark btn-primary" value="Add to Plate">
                {% if day_limit >= 0 %}
                <small class="{% if purchases_today >= day_limit %} text-danger {% else %}text-muted {% endif %}">You have purchased {{ purchases_today }} of the daily allotment of {{ day_limit }} items.</small>
                {% endif %}
                {% if total_stock <= 0 %}
                <small class="text-danger">This item is out of stock!</small>
                {% endif %}
                {% else %}
                <button type="button" class="btn btn-dark btn-primary" onclick="window.location.href='{% url 'checkout-page' product.id %}'">
                    <a class="add-to-plate-btn" href="{% url 'cas_ng_login' %}">
                        Login to Continue
                    </a>
                </button>
                {% endif %}
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>
{% endblock product %}