{% extends 'products/base.html' %}
{% load static %}
{% block content %}

<div class="row border-top center marg-b-50">
    <div class="col">
        <p class="fs-20 bold">TITO GRAPHIC</p>
        <h1 class="bold fs-70">When we succeed,<br>We taco 'bout it!</h1>
    </div>
</div>
<div class="row border-top">
    <div class="col-12 col-lg-3" id="filter-col">
        <p>FILTERS GO HERE</p>
        <ul>
            <li>Filter 1</li>
            <li>Filter 2</li>
            <li>Filter 3</li>
            <li>Filter 4</li>
        </ul>
    </div>
    <div class="col-12 col-lg-9" id="products-col">
        {% for chunk in products %}
            <div class="row">
                {% for product in chunk %}
                    <div class="col-12 col-md-4 product center">
                        <div class="row">
                            <div class="col-12">
                                <img class="img-fluid prod-pic-home" src="{% static 'products/amazon-gift-card.png' %}" alt="gift card pic">
                            </div>
                        </div>
                        <div class="row vert-horiz-center">
                            <div class="col-12 col-md-6">
                                <p class="fs-20">
                                    <a href="{% url 'product-page' product.id %}">
                                        {{ product.name }}
                                    </a>
                                </p>
                            </div>
                            <div class="col-12 col-md-3 center">
                                <p>{{ product.price }}</p>
                            </div>
                            <div class="col-12 col-md-3">
                                <img class="img-fluid" src="{% static 'products/taco.png' %}" alt="taco picture">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
<p>{{ product.image }}</p>
{% endblock content %}