{% extends 'products/base.html' %}
{% load static %}
{% block content %}
  <section class="gjs-section" id="iexs4">
    <div class="gjs-container">
      <!-- <div class="gjs-custom-code" id="i5eo6"> -->
        <div class="grid">
          {% for chunk in products %}
          {% for product in chunk %}
          <div class="gjs-grid-column" id="ie7tj9">
            <div id="i1w2fx-23" class="gjs-image-box"
               style="background-image:url({{ product.image.url }});background-size:contain;background-position:center center;background-attachment:scroll;background-repeat:no-repeat;"
               onclick="location.href='{% url 'product-page' product.id %}'"></div>
                
               <div class="gjs-grid-row" id="inw89l">
                <div id="icb8mu"><a class="gjs-link" href="{% url 'product-page' product.id %}">
                  {{ product.name }}
              </a></div>
              <!-- <div class="gjs-grid-column" id="ibv6ua"> -->
                <div class="grid-row-price">
                <div id="i5139t">{{ product.price }}</div>
              <!-- </div> -->
              <div id="i4ouzf-2" class="gjs-grid-column"><img src="{% static 'products/taco.png' %}" id="ikpxpr-2"/>
              </div>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endfor %}
        </div>
      <!-- </div> -->
      <div class="gjs-grid-row" id="i6chb"></div>
    </div>
  </section>
{% endblock content %}