{% extends 'products/base.html' %}
{% load static %}
{% block content %}
    <div>
        <h1>Ready to check out?</h1>
    </div>
    <div class="row">
        <div class="col-12 col-lg-9">
            <div class="row">
                <div class="col-12 col-md-4 product center">
                    <div class="row">
                        <div class="col-12">
                            <img class="img-fluid prod-pic-home" src="{{ product.image.url }}"
                                 alt="gift card pic">
                        </div>
                    </div>
                    <div class="row vert-horiz-center">
                        <div class="col-12 col-md-6">
                            <p class="fs-20">
                                <a href="{% url 'product-page' product.id %}">
                                    {{ product.name }}
                                </a>
                            </p>
                        </div>
                        <div class="col-12 col-md-3 center">
                            <p>{{ product.price }}</p>
                        </div>
                        <div class="col-12 col-md-3">
                            <img class="img-fluid" src="{% static 'products/taco.png' %}" alt="taco picture">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1">
        <div class="row">
            <button class="btn btn-primary fa-align-right" type="button"  onclick="window.location.href='{% url 'checkout-button' product.id %}'">
                <a class="add-to-plate-btn" href="{% url 'checkout-button' product.id %}">
                    Order
                </a>
            </button>
        </div>
    </div>
    <div class="container-fluid">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" style="color: orangered; font-size: 30px;">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    </div>
{% endblock content %}