{% extends 'products/base.html' %}
{% load static %}
{% block content %}
<!-- I left this template in the old bootstrap since it looks fine with the new header. XD Not a great idea, but it works for now- DJG -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<link href="{% static 'products/universal.css' %}" rel="stylesheet">

<div class="row">
    <div>
        <h1>Ready to check out?</h1>
        <p>*At the moment, you can only fit one item on your plate. Tito is working with our supplier to acquire larger plates for your use in the future.</p>
    <h3>Your Plate:</h3>
    {% if day_limit >= 0 %}
    <small class="{% if display_spend_warning %} text-danger {% else %}text-muted {% endif %}">You have purchased {{ purchases_today }} of the daily allotment of {{ day_limit }} items.</small>
    {% endif %}
    </div>
</div>
    <div class="row">
    <div class="col-12 col-md-6 center mt-3 flex-center-children">

            <div class="col-12 col-md-6 product center">

                    <div class="col-12">
                        <img class="img-fluid prod-pic-home" src="{{ product.image.url }}"
                                alt="gift card pic">
                    </div>

                <div class="row vert-horiz-center">
                    <div class="col">
                        <p class="fs-20">
                            <a class="gjs-link" href="{% url 'product-page' product.id %}">
                                {{ product.name }}
                            </a>
                        </p>
                    </div>
                </div>
            </div>

    </div>

    <div class="col-12 col-md-6 mt-3">
        <div class="d-grid gap-2 col-md-6">
            {% if user.is_authenticated %}
            <div class="row">
                <div class="row">
                    <div class="col-md6 vert-horiz-center">
                        <span class="fs-30 text-left mt-3">Order Total: </span><span class="fs-40">{{ product.price }}</span>
                        <img class="img-fluid" src="{% static 'products/taco.png' %}" alt="taco picture">
                    </div>
                </div>
            <button type="button" {% if display_spend_warning %} disabled {% endif %} class="btn btn-dark btn-primary col-md3 mt-3 gjs-link" onclick="window.location.href='{% url 'checkout-button' product.id %}{{size_str}}'">
                <a class="add-to-plate-btn gjs-link" href="{% url 'checkout-button' product.id %}{{size_str}}">
                    Order!
                </a>
            </button>
            <button type="button" class="btn btn-danger btn-primary col-md3 mt-3" onclick="window.location.href='{% url 'home-page' %}'">
                <a class="add-to-plate-btn gjs-link" href="{% url 'home-page' %}">
                    Remove From Plate
                </a>
            </button>
            {% else %}
            <button type="button" class="btn btn-dark btn-primary" onclick="window.location.href='{% url 'checkout-page' product.id %}'">
                <a class="add-to-plate-btn gjs-link" href="{% url 'cas_ng_login' %}">
                    Login to Continue
                </a>
            </button>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}